header {
    text-align: center
}

header h1 {
    font-zie: 4rem;
    font-weight: normal
}

header h2 {
    font-zie: 2rem;
    color: blue;
    font-family: "돋움", sans-serif;
}

article {
    border-top: 1px solid #ccc;
    padding: 15px 0;
}

article h2 {
    font-zie: 2.5rem;
    color: #fff;
    background-color: #414141;
    padding: 5px;
    text-align: center;
    font-weight: normal
}

.img-size {
    margin: 10px auto;
    width: 300px;
}

.img-size img {
    width: 85%;
    height: auto;
}

footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}